<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
</head>
<body>
    <h1>Welcom to Sign Up Page!</h1>
    <div id="firebaseui-auth-container"></div>
</body>
<script src="https://www.gstatic.com/firebasejs/5.9.0/firebase.js"></script>
<script>
    var config = {
        apiKey: "{{.apiKey}}",
        authDomain: "{{.authDomain}}",
        databaseURL: "{{.databaseURL}}",
        projectId: "{{.projectId}}",
        storageBucket: "{{.storageBucket}}",
        messagingSenderId: "{{.messagingSenderId}}",
    };
    firebase.initializeApp(config);
    // ユーザのサインイン状態の判定
    firebase.auth().onAuthStateChanged(function(user) {
    if (user) {
        console.log('sign in');
        location.href = "/my";
    } else {
        console.log('sign out');
    }
    });

    // サインアップ/サインインフォームのUI
    var ui = new firebaseui.auth.AuthUI(firebase.auth());
    ui.start('#firebaseui-auth-container', {
        signInOptions: [
            firebase.auth.EmailAuthProvider.PROVIDER_ID
        ],
    });
</script>
</html>